* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 19px;
  line-height: 1.5;
}
p.light {
  color: white;
}
p.bold-p {
  font-weight: 600;
}

ul {
  margin: 30px 0 40px 0;
}
ul li {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: 300;
  list-style-type: circle;
  margin-bottom: 15px;
}

h2, h3, .add-on {
  font-family: freight-big-pro, serif;
  font-weight: 500;
  color: #4E4E4E;
  line-height: 1.1;
  letter-spacing: 0.5px;
}
h2.light, h3.light, .add-on.light {
  color: white;
}

h2 {
  font-size: 64px;
}

h3, .add-on {
  font-size: 48px;
}
h3.upper, .add-on.upper {
  text-transform: uppercase;
}

.add-on.small {
  font-size: 36px;
}

.flex {
  display: flex;
  justify-content: space-between;
}
.flex.reverse {
  flex-direction: row-reverse;
}
.flex.wrap {
  flex-wrap: wrap;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
}

.main-header {
  background-image: url(../images/breckenridge-co-rocky-mountains.jpg);
  background-size: cover;
}

.header-content {
  padding: 48px 10% 304px 10%;
}
.header-content nav {
  margin-bottom: 273px;
}
.header-content nav img {
  width: 110px;
}
.header-content h1 {
  width: 60%;
  max-width: 711px;
  font-family: freight-big-pro, serif;
  font-size: 72px;
  font-weight: 300;
  color: #4E4E4E;
  padding: 0;
  margin: 0 0 87px 0;
}
.header-content .cta {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #C2986B;
  padding: 0 150px 10px 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #4E4E4E;
  font-size: 32px;
  font-weight: 500;
}
.header-content .cta:hover, .header-content .cta:focus {
  color: #C2986B;
  transition: 0.4s all;
}
.header-content .cta a {
  text-decoration: none;
  color: #4E4E4E;
  transition: 0.4s all;
}

.nav-pages {
  width: 70%;
  max-width: 670px;
  list-style-type: none;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}
.nav-pages li {
  list-style-type: none;
}
.nav-pages li a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #4E4E4E;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.4s all;
  padding: 0 4px 0 4px;
}
.nav-pages li a:hover, .nav-pages li a:focus {
  color: #C2986B;
  transition: 0.4s all;
}
.nav-pages button {
  background-color: #324932;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  padding: 14px;
  border: 1px solid #324932;
  border-radius: 5px;
  transition: 0.4s all;
}
.nav-pages button:hover, .nav-pages button:focus {
  background-color: transparent;
  color: #324932;
  transition: 0.4s all;
}

@media (max-width: 1232px) {
  nav.flex {
    flex-direction: column;
    align-content: center;
  }

  .header-content {
    padding: 48px 48px 304px 48px;
  }
  .header-content nav {
    margin-bottom: 150px;
  }
  .header-content nav img {
    display: block;
    margin: 0 auto 0 auto;
  }
  .header-content h1 {
    text-align: center;
    width: 80%;
    max-width: 80%;
    margin: 0 auto 90px auto;
  }
  .header-content a {
    text-decoration: none;
    color: #4E4E4E;
    transition: 0.4s all;
  }
  .header-content .cta {
    display: block;
    margin: 0 auto 0 auto;
  }
}
.standout {
  position: relative;
  padding: 203px 54px;
  overflow: hidden;
}
.standout .standout-text {
  padding: 165px 0;
  max-width: 687px;
  margin: 0 auto 0 auto;
  position: relative;
}
.standout .standout-text h2 {
  margin-bottom: 76px;
}
.standout .standout-text p {
  font-size: 20px;
  max-width: 600px;
}
.standout .ml-flair {
  position: absolute;
  right: -65%;
  bottom: 15%;
  opacity: 5%;
}

.about {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.about .gold-lines.horizontal {
  position: absolute;
  width: 50%;
  right: 80px;
  top: 180px;
}
.about .gold-lines.horizontal .line-single {
  background-color: #C2986B;
  display: block;
  height: 2px;
  width: 70%;
  margin: 10px 0 30px 0;
  margin-left: auto;
}
.about .gold-lines.horizontal .line-single.line2 {
  height: 3px;
  width: 55%;
  margin-left: auto;
}
.about .gold-lines.vertical {
  position: absolute;
  display: flex;
  height: 40%;
  top: 320px;
  left: 60px;
}
.about .gold-lines.vertical .line-single {
  background-color: #C2986B;
  display: block;
  height: 95%;
  width: 2px;
  margin: 10px 0 30px 0;
  margin-left: auto;
}
.about .gold-lines.vertical .line-single.line2 {
  height: 75%;
  width: 3px;
  margin: 30px;
  margin-top: 80px;
}
.about .green-section {
  background-color: #324932;
  color: white;
  margin-right: 200px;
  padding: 100px 70px 200px 100px;
}
.about h2 {
  max-width: 700px;
  margin-bottom: 96px;
}
.about .green-text-wrapper {
  max-width: 980px;
  position: relative;
  margin-left: 70px;
}
.about .green-text-wrapper p {
  max-width: 450px;
}
.about .green-text-wrapper .add-on {
  text-align: right;
  max-width: 568px;
  margin-left: auto;
  margin-top: 93px;
}

@media screen and (min-width: 1700px) {
  .about .green-section {
    padding: 100px 300px 200px 300px !important;
  }
}
.display-img-holder {
  position: relative;
  height: 800px;
}
.display-img-holder .large-display-img {
  position: absolute;
  top: -20%;
  right: 0;
  width: 80%;
  max-width: 1300px;
}

.fadeinright, .fadeinright-sooner {
  opacity: 0;
  margin-right: -300px;
  max-width: 100%;
}

.fadeinleft-sooner {
  opacity: 0;
  margin-left: -300px;
  max-width: 100%;
}

.fadein, .fadein-onload, .fadein-quick {
  opacity: 0;
}

.about-info-container {
  width: 100%;
  position: relative;
  padding: 100px 70px;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
.about-info-container .green-slice {
  display: block;
  height: 100%;
  width: 300px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #324932;
  z-index: 0;
}
.about-info-container img {
  margin: 0 70px 0 0;
  width: 750px;
  height: 100%;
  position: relative;
  z-index: 4;
}
.about-info-container .about-info-text-container {
  width: 40%;
}
.about-info-container .about-info-text-container h2 {
  margin-top: 0;
}

.numbers-section {
  width: 100%;
  margin-top: 176px;
  padding: 0 40px;
  justify-content: space-evenly;
}
.numbers-section .num-container {
  position: relative;
  height: 370px;
}
.numbers-section .num-container .number {
  position: absolute;
  left: 31%;
  color: #E5E5E5;
  font-family: freight-big-pro, serif;
  font-size: 288px;
  font-weight: 500;
}
.numbers-section .num-container .number.mid-num {
  left: 25%;
}
.numbers-section .num-container .number-info {
  display: block;
  position: relative;
  color: #4e4e4e;
  font-family: freight-big-pro, serif;
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-top: 150px;
  padding: 0 60px;
  line-height: 2.5;
}
.numbers-section .num-container .number-info.mid-num-info {
  min-width: 401px;
  padding: 0 60px;
  box-sizing: content-box;
  border-left: 1px solid #C2986B;
  border-right: 1px solid #C2986B;
}

.rooms {
  width: 100%;
}

.section-h2-container {
  width: 85%;
  position: relative;
  margin: 376px auto 272px auto;
}
.section-h2-container h2 {
  background-color: white;
  padding: 0 50px 0 0;
  text-transform: uppercase;
  width: max-content;
  position: relative;
  z-index: 3;
}
.section-h2-container .h2-line {
  display: block;
  position: absolute;
  top: 45%;
  height: 2px;
  width: 100%;
  background-color: #C2986B;
  z-index: 0;
}

.room-container {
  align-items: center;
  margin-bottom: 228px;
  align-self: center;
  position: relative;
}
.room-container .room-slider {
  position: relative;
  width: max-content;
  height: max-content;
  background-color: white;
  z-index: 6;
}
.room-container .room-slider img {
  width: 950px;
  position: relative;
  z-index: 3;
  transition: 0.4s, all;
}
.room-container .room-info-container {
  width: 50%;
}
.room-container .room-info-container .room-info-inner-wrapper {
  padding: 0 80px;
  max-width: 533px;
  margin: 0 auto;
}
.room-container .room-info-container .room-info-inner-wrapper h3 {
  font-size: 42px;
}
.room-container .room-info-container .room-info-inner-wrapper .add-on {
  font-size: 38px;
}

@media screen and (min-width: 1700px) {
  .room-container .room-info-container .room-info-inner-wrapper {
    padding: 0;
  }
}
.singleSlide1, .singleSlide2, .singleSlide3, .singleSlide4, .singleSlide5, .singleSlide6 {
  display: none;
  transition: 0.4s, all;
}
.singleSlide1 img, .singleSlide2 img, .singleSlide3 img, .singleSlide4 img, .singleSlide5 img, .singleSlide6 img {
  vertical-align: middle;
}

.slider-nav {
  position: absolute;
  height: max-content;
  right: 0;
  bottom: -70px;
}
.slider-nav .nav-icon {
  padding: 8px 18px;
  margin: 10px;
  border-radius: 50%;
  border: 1px solid #C2986B;
  color: #C2986B;
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.7s;
  text-decoration: none;
}
.slider-nav .nav-icon:hover, .slider-nav .nav-icon:focus {
  color: white;
  background-color: #C2986B;
  transition: all 0.7s;
}
.slider-nav.lodge-gallery {
  left: 1000px;
  bottom: 350px;
  width: max-content;
}
.slider-nav.lodge-gallery .nav-icon {
  margin: 20px;
}

.reverse .slider-nav {
  left: 0;
}

.hibearnation-green-accent {
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #324932;
  height: 130%;
  width: 30%;
  z-index: 0;
}
.hibearnation-green-accent.right-accent {
  left: initial;
  right: 0;
  top: -40px;
  height: 140%;
}

.lodge {
  overflow: hidden;
}

.lodge-green-section {
  position: relative;
  width: 100%;
  height: 1950px;
  padding: 217px 150px 217px 0;
  z-index: 1;
}
.lodge-green-section .room-slider {
  width: max-content;
  height: max-content;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 6;
}
.lodge-green-section .lodge-green-info-cont {
  background-color: #324932;
  width: 100%;
  height: 100%;
  padding: 200px 300px 200px 200px;
}
.lodge-green-section .lodge-green-info-cont h3, .lodge-green-section .lodge-green-info-cont p {
  max-width: 600px;
}
.lodge-green-section .lodge-green-info-cont h3 {
  font-size: 54px;
}
.lodge-green-section .lodge-green-info-cont .add-on {
  margin-top: 200px;
  font-size: 45px;
  text-align: right;
  padding-bottom: 30px;
  border-bottom: 1px solid #C2986B;
}
.lodge-green-section .absolute-img {
  position: absolute;
}
.lodge-green-section .top-img {
  position: absolute;
  right: 0;
  top: 0;
  width: 600px;
}
.lodge-green-section .bottom-img {
  position: relative;
  left: 0;
  bottom: 0;
  width: 950px;
}

.floor-plan-section {
  padding: 150px;
}
.floor-plan-section a {
  color: #C2986B;
  text-decoration: none;
}
.floor-plan-section a:hover {
  color: #324932;
}
.floor-plan-section .plan-col {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 50px;
  position: relative;
}
.floor-plan-section .plan-col h3 {
  margin-bottom: 0;
}
.floor-plan-section .plan-col .content1 {
  margin: 80px 0 65px 0;
}
.floor-plan-section .plan-col .plan-content {
  width: 500px;
}
.floor-plan-section .plan-col.col1 {
  padding-bottom: 150px;
}
.floor-plan-section .plan-col.col2 {
  justify-content: flex-end;
}
.floor-plan-section .plan-col.col2 p {
  margin-bottom: 0;
}
.floor-plan-section .plan-col.col2 .bold-p {
  margin-top: 80px;
  margin-bottom: 20px;
}
.floor-plan-section .plan-col .content2 {
  margin-left: auto;
}
.floor-plan-section img {
  width: 100%;
}
.floor-plan-section .gold-lines.horizontal {
  position: absolute;
  width: 100%;
  right: 80px;
  top: 140px;
}
.floor-plan-section .gold-lines.horizontal .line-single {
  background-color: #C2986B;
  display: block;
  height: 2px;
  width: 85%;
  margin: 10px 0 20px 0;
  margin-left: auto;
}
.floor-plan-section .gold-lines.horizontal .line-single.line2 {
  height: 2px;
  width: 60%;
  margin-left: auto;
}
.floor-plan-section .gold-lines.vertical {
  position: absolute;
  display: flex;
  height: 90%;
  top: 220px;
  left: -60px;
}
.floor-plan-section .gold-lines.vertical .line-single {
  background-color: #C2986B;
  display: block;
  height: 55%;
  width: 2px;
  margin: 10px 0 30px 0;
  margin-left: auto;
}
.floor-plan-section .floorplan-main {
  margin-top: 240px;
}

.lodge-kitchen-section {
  position: relative;
  height: 930px;
  width: 100%;
}
.lodge-kitchen-section img {
  width: 100%;
  height: 650px;
  object-fit: cover;
  position: relative;
  z-index: 3;
  margin-top: 140px;
}
.lodge-kitchen-section .green-section {
  height: 100%;
  width: 800px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: #324932;
}

.amenities {
  position: relative;
  width: 100%;
}
.amenities .bottom-img {
  display: block;
  position: relative;
  z-index: 1;
  margin-left: auto;
  bottom: 150px;
  width: 70%;
}
.amenities .add-on {
  text-transform: none;
  padding: 0 120px;
  text-align: right;
}
.amenities .scenery-block img {
  padding: 30px;
  width: 50%;
}

.play img {
  width: 45%;
}
.play .play-content {
  width: 55%;
  max-width: 800px;
  padding: 0 100px 0 100px;
  margin-left: auto;
  margin-right: auto;
}
.play .play-content p {
  max-width: 616px;
}

.all-amenities {
  height: max-content;
  position: relative;
  z-index: 1;
  margin-top: 250px;
  padding-bottom: 100px;
  width: 100%;
}
.all-amenities h3 {
  padding-left: 150px;
  margin-top: 200px;
  position: relative;
  z-index: 1;
}
.all-amenities h4 {
  font-family: freight-big-pro, serif;
  font-size: 31px;
  font-weight: normal;
}
.all-amenities .gold-lines.vertical {
  position: absolute;
  display: flex;
  height: 40%;
  bottom: -80px;
  left: 60px;
  z-index: 4;
}
.all-amenities .gold-lines.vertical .line-single {
  background-color: #C2986B;
  display: block;
  height: 100%;
  width: 2px;
  margin: 10px 0 30px 0;
  margin-left: auto;
}
.all-amenities .beige-background {
  height: 100%;
  width: 85%;
  background-color: #F6F5EA;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.all-amenities .long-photo {
  width: 95%;
  height: 600px;
  object-fit: cover;
  position: relative;
  z-index: 1;
  top: 60px;
  left: 0;
}
.all-amenities .all-amenities-content {
  height: 500px;
  overflow: auto;
  padding: 30px;
  padding-left: 0;
  padding-top: 0;
  margin-left: 150px;
  width: 60%;
  position: relative;
  z-index: 1;
}
.all-amenities .all-amenities-content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 700px;
}
.all-amenities .all-amenities-content ul li {
  margin: 20px 60px;
  width: 200px;
}

.explore-blocks {
  position: relative;
  z-index: 1;
  padding: 150px;
  padding-top: 0;
  justify-content: flex-start;
}
.explore-blocks .content-block {
  max-width: 400px;
}
.explore-blocks .content-block h3 {
  padding: 0;
  margin-top: 170px;
}
.explore-blocks .content-block:nth-of-type(1) {
  margin-right: 150px;
}

.book .booking-container {
  background-color: #324932;
  width: 100%;
  padding: 300px;
}
.book .booking-container h3 {
  text-align: center;
  margin-top: 0;
  max-width: 750px;
  display: block;
  margin: 0 auto;
}
.book .booking-container .book-buttons-cont {
  padding-top: 94px;
  max-width: 900px;
  margin: 0 auto;
}
.book .booking-container .book-buttons-cont .book-button-single {
  width: 250px;
  height: 100px;
  background-color: #C2986B;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  letter-spacing: 5px;
  border: 1px solid #C2986B;
  border-radius: 5px;
  transition: all 0.4s;
}
.book .booking-container .book-buttons-cont .book-button-single:hover {
  background-color: transparent;
  transition: all 0.4s;
}

.booking-container iframe {
  display: block;
  height: 400px;
  width: 700px;
  margin: 100px auto 0 auto;
}
.booking-container iframe p {
  color: white;
}

.ac-calendar-container table.ac-table {
  border-radius: 8px;
}

.contact {
  margin-top: 266px;
}
.contact h3 {
  font-size: 64px;
  text-align: center;
}
.contact .contact-form {
  width: 575px;
  display: block;
  margin: 100px auto;
  padding-bottom: 200px;
}
.contact .contact-form label, .contact .contact-form input, .contact .contact-form textarea {
  font-family: "Montserrat", sans-serif;
  width: 100%;
}
.contact .contact-form label {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 300;
}
.contact .contact-form input, .contact .contact-form textarea {
  margin-bottom: 50px;
  margin-top: 10px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #F6F5EA;
  padding-left: 30px;
  font-size: 20px;
}
.contact .contact-form textarea {
  height: 172px;
  padding-top: 30px;
}
.contact .contact-form button {
  background-color: #324932;
  border: 2px solid #324932;
  border-radius: 5px;
  color: white;
  width: 200px;
  height: 80px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  transition: all 0.4s;
}
.contact .contact-form button:hover {
  background-color: transparent;
  color: #324932;
  transition: all 0.4s;
}

/*# sourceMappingURL=style.css.map */
