// Colors and text

$mlGreen: #324932;
$mlGold: #C2986B; 
$mlBeige: #F6F5EA;
$textGrey: #4E4E4E;
$textGreyLighter: #696969;

$headerText: freight-big-pro, serif;
$bodyText: 'Montserrat', sans-serif;


// General styling

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

p {
    font-family: $bodyText;
    font-weight: 300;
    font-size: 19px;
    line-height: 1.5;
    &.light {
        color: white;
    }
    &.bold-p {
        font-weight: 600;
    }
}

ul {
    margin: 30px 0 40px 0;
    li {
        font-family: $bodyText;
        font-size: 19px;
        font-weight: 300;
        list-style-type: circle;
        margin-bottom: 15px;
    }
} 


h2, h3, .add-on {
    font-family: $headerText;
    font-weight: 500;
    color: $textGrey;
    line-height: 1.1;
    letter-spacing: .5px;
    &.light {
        color: white;
    }
}

h2 {
    font-size: 64px;
}

h3, .add-on {
    font-size: 48px;
    &.upper {
        text-transform: uppercase;
    }
}

.add-on.small {
    font-size: 36px;
}

.flex {
    display: flex;
    justify-content: space-between;
    &.reverse {
        flex-direction: row-reverse;
    }
    &.wrap {
        flex-wrap: wrap;
    }
}

button {
    cursor: pointer;
}


// Section styling
// Header --------------------------------------------------

body {
    margin: 0;
}

.main-header {
    background-image: url(../images/breckenridge-co-rocky-mountains.jpg);
    background-size: cover;    
}

.header-content {
    padding: 48px 10% 304px 10%;
    nav {
        margin-bottom: 273px;
        img {
            width: 110px;
        }   
    }
    h1 {
        width: 60%;
        max-width: 711px;
        font-family: $headerText;
        font-size: 72px;
        font-weight: 300;
        color: $textGrey;
        padding: 0;
        margin: 0 0 87px 0;
    }
    .cta {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $mlGold;
        padding: 0 150px 10px 0;
        font-family: $bodyText;
        text-transform: uppercase;
        color: $textGrey;
        font-size: 32px;
        font-weight: 500;
        &:hover, &:focus {
            color: $mlGold;
            transition: .4s all;
        }
        a {
            text-decoration: none;
            color: $textGrey;
            transition: .4s all;
        }
    }
}

.nav-pages {
    width: 70%;
    max-width: 670px;
    list-style-type: none;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    li {
        list-style-type: none;
    }
    li a {
        text-decoration: none;
        font-size: 14px;
        font-family: $bodyText;
        color: $textGrey;
        font-weight: 500;
        text-transform: uppercase;
        transition: .4s all;
        padding: 0 4px 0 4px;
        &:hover, &:focus {
            color: $mlGold;
            transition: .4s all;
        }
    }
    button {
        background-color: $mlGreen;
        color: white;
        text-transform: uppercase;
        font-size: 14px;
        padding: 14px;
        border: 1px solid $mlGreen;
        border-radius: 5px;
        transition: .4s all;
        &:hover, &:focus {
            background-color: transparent;
            color: $mlGreen;
            transition: .4s all;
        }
    }
}

@media (max-width: 1232px) {
    nav.flex {
        flex-direction: column;
        align-content: center;
    }
    .header-content {
        padding: 48px 48px 304px 48px;
        nav {
            margin-bottom: 150px;
            img {
                display: block;
                margin: 0 auto 0 auto;
            }   
        }
        h1 {
            text-align: center;
            width: 80%;
            max-width: 80%;
            margin: 0 auto 90px auto;
        }
        a {
            text-decoration: none;
            color: $textGrey;
            transition: .4s all;
        }
        .cta {
            display: block;
            margin: 0 auto 0 auto;
        }
    }
}

// Stand out --------------------------------------------------

.standout {
    position: relative;
    padding: 203px 54px;
    overflow: hidden;
    .standout-text {
        padding: 165px 0;
        max-width: 687px;
        margin: 0 auto 0 auto;
        position: relative;
        h2 {
            margin-bottom: 76px;
        }
        p {
            font-size: 20px;
            max-width: 600px;
        }
    }
    .ml-flair {
        position: absolute;
        right: -65%;
        bottom: 15%;
        opacity: 5%;
    }
}

// About --------------------------------------------------

.about {
    width: 100%;
    position: relative;
    overflow: hidden;
    .gold-lines {
        
        &.horizontal {
            position: absolute;
            width: 50%;
            right: 80px;
            top: 180px;
            .line-single {
                background-color: $mlGold;
                display: block;
                height: 2px;
                width: 70%;
                margin: 10px 0 30px 0;
                margin-left: auto;
                &.line2 {
                    height: 3px;
                    width: 55%;
                    margin-left: auto;
                }
            }
        }
        &.vertical {
            position: absolute;
            display: flex;
            height: 40%;
            top: 320px;
            left: 60px;
            .line-single {
                background-color: $mlGold;
                display: block;
                height: 95%;
                width: 2px;
                margin: 10px 0 30px 0;
                margin-left: auto;
                &.line2 {
                    height: 75%;
                    width: 3px;
                    margin: 30px;
                    margin-top: 80px;
                }
            }
        }
    }
    .green-section {
        background-color: $mlGreen;
        color: white;
        margin-right: 200px;
        padding: 100px 70px 200px 100px;
    }
    h2 {
        max-width: 700px;
        margin-bottom: 96px;
    }
    .green-text-wrapper {
        max-width: 980px;
        position: relative;
        margin-left: 70px;
        p {
            max-width: 450px;
        }
        .add-on {
            text-align: right;
            max-width: 568px;
            margin-left: auto;
            margin-top: 93px;
        }
    }    
}

@media screen and (min-width: 1700px) {
    .about {
        .green-section {
            padding: 100px 300px 200px 300px !important;
        }
    }
}

.display-img-holder {
    position: relative;
    height: 800px;
    .large-display-img {
        position: absolute;
        top: -20%;
        right: 0;
        width: 80%;
        max-width: 1300px;
    }
}

.fadeinright, .fadeinright-sooner {
    opacity: 0;
	margin-right: -300px;	
	max-width: 100%;
}

.fadeinleft-sooner {
    opacity: 0;
	margin-left: -300px;	
	max-width: 100%;
}

.fadein, .fadein-onload, .fadein-quick {
    opacity: 0;
}

.about-info-container {
    width: 100%;
    position: relative;
    padding: 100px 70px;
    justify-content: center;
    align-items: center;
    z-index: 4;
    .green-slice {
        display: block;
        height: 100%;
        width: 300px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: $mlGreen;
        z-index: 0;
    }
    img {
        margin: 0 70px 0 0;
        width:  750px;
        height: 100%;
        position: relative;
        z-index: 4;
    }
    .about-info-text-container {
        width: 40%;
        h2 {
            margin-top: 0;
        }
    }
}

.numbers-section {
    width: 100%;
    margin-top: 176px;
    padding: 0 40px;
    justify-content: space-evenly;
    .num-container {
        position: relative;
        height: 370px;
        .number {
            position: absolute;
            left: 31%;
            color: #E5E5E5;
            font-family: $headerText;
            font-size: 288px;
            font-weight: 500;
            &.mid-num {
                left: 25%;
            }
        }
        .number-info {
            display: block;
            position: relative;
            color: #4e4e4e;
            font-family: $headerText;
            font-size: 48px;
            font-weight: 500;
            text-transform: uppercase;
            text-align: center;
            margin-top: 150px;
            padding: 0 60px;
            line-height: 2.5;
            &.mid-num-info {
                min-width: 401px;
                padding: 0 60px;
                box-sizing: content-box;
                border-left: 1px solid $mlGold;
                border-right: 1px solid $mlGold;
            }
        }
    }
}


// ROOMS --------------------------------------------------

.rooms {
    width: 100%;
}

.section-h2-container {
    width: 85%;
    position: relative;
    margin: 376px auto 272px auto;
    h2 {
        background-color: white;
        padding: 0 50px 0 0;
        text-transform: uppercase;
        width: max-content;
        position: relative;
        z-index: 3;
    }
    .h2-line {
        display: block;
        position: absolute;
        top: 45%;
        height: 2px;
        width: 100%;
        background-color: $mlGold;
        z-index: 0;
    }
}

.room-container {
    align-items: center;
    margin-bottom: 228px;
    align-self: center;
    position: relative;
    .room-slider {
        position: relative;
        width: max-content;
        height: max-content;
        background-color: white;
        z-index: 6;
        img {
            width: 950px;
            position: relative;
            z-index: 3;
            transition: .4s, all;
        }
    }
    .room-info-container {
        width: 50%;
        .room-info-inner-wrapper {
            padding: 0 80px;
            max-width: 533px;
            margin: 0 auto;
            h3 {
                font-size: 42px;
            }
            .add-on {
                font-size: 38px;
            }
        }
    }
}

@media screen and (min-width: 1700px) {
    .room-container .room-info-container .room-info-inner-wrapper {
        padding: 0;
    }
}

// Sliders

.singleSlide1, .singleSlide2, .singleSlide3, .singleSlide4, .singleSlide5, .singleSlide6 {
    display: none;
    transition: .4s, all;
    img {
        vertical-align: middle;
    }
}

.slider-nav {
    position: absolute;
    height: max-content;
    right: 0;
    bottom: -70px;
    .nav-icon {
        padding: 8px 18px;
        margin: 10px;
        border-radius: 50%;
        border: 1px solid $mlGold;
        color: $mlGold;
        font-size: 28px;
        font-family: $bodyText;
        font-weight: 400;
        cursor: pointer;
        transition: all .7s;
        text-decoration: none;
        &:hover, &:focus {
            color: white;
            background-color: $mlGold;
            transition: all .7s;
        }
    }
    &.lodge-gallery {
        left: 1000px;
        bottom: 350px;
        width: max-content;
        .nav-icon {
            margin: 20px;
        }
    }
}

.reverse .slider-nav {
    left: 0;
}

.hibearnation-green-accent {
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: $mlGreen;
    height: 130%;
    width: 30%;
    z-index: 0;
    &.right-accent {
        left: initial;
        right: 0;
        top: -40px;
        height: 140%;
    }
}



// LODGE --------------------------------------------------

.lodge {
    overflow: hidden;
}

.lodge-green-section {
    position: relative;
    width: 100%;
    height: 1950px;
    padding: 217px 150px 217px 0;
    z-index: 1;
    .room-slider {
        width: max-content;
        height: max-content;
        background-color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 6;
    }
    .lodge-green-info-cont {
        background-color: $mlGreen;
        width: 100%;
        height: 100%;
        padding: 200px 300px 200px 200px;
        h3, p {
            max-width: 600px;
        }
        h3 {
            font-size: 54px;
        }
        .add-on {
            margin-top: 200px;
            font-size: 45px;
            text-align: right;
            padding-bottom: 30px;
            border-bottom: 1px solid $mlGold;
        }
    }
    .absolute-img {
        position: absolute;
    }
    .top-img {
        position: absolute;
        right: 0;
        top: 0;
        width: 600px;
    }
    .bottom-img {
        position: relative;
        left: 0;
        bottom: 0;
        width: 950px;
    }
}

.floor-plan-section {
    padding: 150px;
    a {
        color: $mlGold;
        text-decoration: none;
        &:hover {
            color: $mlGreen;
        }
    }
    .plan-col {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 50px;
        position: relative;
        h3 {
            margin-bottom: 0;
        }
        .content1 {
            margin: 80px 0 65px 0;
        }
        .plan-content {
            width: 500px;
        }
        &.col1 {
            padding-bottom: 150px;
        }
        &.col2 {
            justify-content: flex-end;
            p {
                margin-bottom: 0;
            }
            .bold-p {
                margin-top: 80px;
                margin-bottom: 20px;
            }
        } 
        .content2 {
            margin-left: auto;
        }
    }
    img {
        width: 100%;
    }
    .gold-lines {
        &.horizontal {
            position: absolute;
            width: 100%;
            right: 80px;
            top: 140px;
            .line-single {
                background-color: $mlGold;
                display: block;
                height: 2px;
                width: 85%;
                margin: 10px 0 20px 0;
                margin-left: auto;
                &.line2 {
                    height: 2px;
                    width: 60%;
                    margin-left: auto;
                }
            }
        }
        &.vertical {
            position: absolute;
            display: flex;
            height: 90%;
            top: 220px;
            left: -60px;
            .line-single {
                background-color: $mlGold;
                display: block;
                height: 55%;
                width: 2px;
                margin: 10px 0 30px 0;
                margin-left: auto;
            }
        }
    }
    .floorplan-main {
        margin-top: 240px;
    }
}

.lodge-kitchen-section {
    position: relative;
    height: 930px;
    width: 100%;
    img {
        width: 100%;
        height: 650px;
        object-fit: cover;
        position: relative;
        z-index: 3;
        margin-top: 140px;
    }
    .green-section {
        height: 100%;
        width: 800px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        background-color: $mlGreen;
    }
}


// AMENITIES

.amenities {
    position: relative;
    width: 100%;
    .bottom-img {
        display: block;
        position: relative;
        z-index: 1;
        margin-left: auto;
        bottom: 150px;
        width: 70%;
    }
    .add-on {
        text-transform: none;
        padding: 0 120px;
        text-align: right;
    }
    .scenery-block {
        img {
            padding: 30px;
            width: 50%;
        }
    }
}

.play {
    img {
        width: 45%;
    }
    .play-content {
        width: 55%;
        max-width: 800px;
        padding: 0 100px 0 100px;
        margin-left: auto;
        margin-right: auto;
        p {
            max-width: 616px;
        }
    }
}

.all-amenities {
    height: max-content;
    position: relative;
    z-index: 1;
    margin-top: 250px;
    padding-bottom: 100px;
    width: 100%;
    h3 {
        padding-left: 150px;
        margin-top: 200px;
        position: relative;
        z-index: 1;
    }
    h4 {
        font-family: $headerText;
        font-size: 31px;
        font-weight: normal;
    }
    .gold-lines {
        &.vertical {
            position: absolute;
            display: flex;
            height: 40%;
            bottom: -80px;
            left: 60px;
            z-index: 4;
            .line-single {
                background-color: $mlGold;
                display: block;
                height: 100%;
                width: 2px;
                margin: 10px 0 30px 0;
                margin-left: auto;
            }
        }
    }
    .beige-background {
        height: 100%;
        width: 85%;
        background-color: $mlBeige;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
    .long-photo {
        width: 95%;
        height: 600px;
        object-fit: cover;
        position: relative;
        z-index: 1;
        top: 60px;
        left: 0;
    }
    .all-amenities-content {
        height: 500px;
        overflow: auto;
        padding: 30px;
        padding-left: 0;
        padding-top: 0;
        margin-left: 150px;;
        width: 60%;
        position: relative;
        z-index: 1;
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            max-width: 700px;
            li {
                margin: 20px 60px;
                width: 200px;
            }
        }
    }    
}

.explore-blocks {
    position: relative;
    z-index: 1;
    padding: 150px;
    padding-top: 0;
    justify-content: flex-start;
    .content-block {
        max-width: 400px;
        h3 {
            padding: 0;
            margin-top: 170px;
        }
        &:nth-of-type(1) {
            margin-right: 150px;
        }
    }
}


// BOOK

.book {
    .booking-container {
        background-color: $mlGreen;
        width: 100%;
        padding: 300px;
        h3 {
            text-align: center;
            margin-top: 0;
            max-width: 750px;
            display: block;
            margin: 0 auto;
        }
        .book-buttons-cont {
            padding-top: 94px;
            max-width: 900px;
            margin: 0 auto;
            .book-button-single {
                width: 250px;
                height: 100px;
                background-color: $mlGold;
                color: white;
                text-transform: uppercase;
                font-family: $bodyText;
                font-size: 22px;
                letter-spacing: 5px;
                border: 1px solid $mlGold;
                border-radius: 5px;
                transition: all .4s;
                &:hover {
                    background-color: transparent;
                    transition: all .4s;
                }
            }
            
        }
    }
}

.booking-container iframe {
    display: block;
    height: 400px;
    width: 700px;
    margin: 100px auto 0 auto;
}

.ac-legend-item {
    color: white;
}

.ac-calendar-container table.ac-table {
    border-radius: 8px;
}

.contact {
    margin-top: 266px;
    h3 {
        font-size: 64px;
        text-align: center;
    }
    .contact-form {
        width: 575px;
        display: block;
        margin: 100px auto;
        padding-bottom: 200px;
        label, input, textarea {
            font-family: $bodyText;
            width: 100%;
        }
        label {
            text-transform: uppercase;
            font-size: 21px;
            font-weight: 300;
        }
        input, textarea {
            margin-bottom: 50px;
            margin-top: 10px;
            height: 50px;
            border: none;
            border-radius: 5px;
            background-color: $mlBeige;
            padding-left: 30px;
            font-size: 20px;
        }
        textarea {
            height: 172px;
            padding-top: 30px;
        }
        button {
            background-color: $mlGreen;
            border: 2px solid $mlGreen;
            border-radius: 5px;
            color: white;
            width: 200px;
            height: 80px;
            font-family: $bodyText;
            font-size: 24px;
            transition: all .4s;
            &:hover {
                background-color: transparent;
                color: $mlGreen;
                transition: all .4s;
            }
        }
    }
}